body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h2{
    text-align: center;
    font-size: 24px;
}
p{
    font-size: 18px;
    font-weight: 700;
}
.container{
    margin: 100px auto;
    padding: 30px;
    width: 40%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


button{
    font-size: 18px;
    margin: 20px 0px;
    width: 100%;
    color: white;
    background-color: rgb(76,175,80);
    border: none;
    padding: 8px 0px;

    &:hover{
        background-color: rgb(48, 116, 50);
    }
}